<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Priscilla Portfolio</title>
	<link rel="stylesheet" href="style.css">
	<link rel="Shortcut Icon" type="image/x-icon" href="logo.png">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
</head>
<body>
	<div class="portfolio">
	  <div class="fake_nav">
	    <div class="nav">
	      <div class="logo"><a href="#about">Priscilla</a></div>
	      <div class="menu">
	        <ul>
	          <li><a href="#about">About</a></li>
	          <li><a href="#skills">Skills</a></li>
	          <li><a href="#experience">Experience</a></li>
	          <li><a href="#works">Portfolio</a></li>
	          <li><a href="#contant">Contant</a></li>
	        </ul>
	      </div>
	      <div class="menu_mobile">
	        <div class="menu_list"><i class="fas fa-bars"></i></div>
	        <div class="menu_m_nav">
	          <ul>
	            <li><a href="#about">About</a></li>
	            <li><a href="#skills">Skills</a></li>
	            <li><a href="#experience">Experience</a></li>
	            <li><a href="#works">Portfolio</a></li>
	            <li><a href="#contant">Contant</a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="bottom">
	    <div class="about_outer" id="about">
	      <div class="about_bg"></div>
	      <div class="about scrEvent">
	        <div class="text1">
	          <h1>About Me</h1>
	          <hr/>
	          <h2>林宜靜 (Priscilla Lin)</h2>
	          <h3>龍華科技大學 多媒體與遊戲發展科學系</h3>
	          <p>我的興趣廣泛，喜歡學習新知，精進前端技能的同時，也不忘使用 Photoshop、illustrator 建構出想像中的畫面，在開始設計網頁前能站在使用者的角度先規劃好 Web UI，將操作按鈕擺放更直覺，讓使用者在操作上能擁有更好的體驗。好相處、樂於學習、不怕挑戰、對程式碼負責是我的優點，遇到 BUG 絕對要修到好才善罷干休，以更加精進 code 為目標，工作外的時間勤奮學習前端開發者所需技能，在前端不斷汰換 Framework 的情況下達到最新的技術要求。</p>
	        </div>
	      </div>
	    </div>
	    <div class="skills_outer" id="skills">
	      <div class="skills scrEvent">
	        <h1>Skills</h1>
	        <div class="items">
	          <div class="sk">
	            <div class="text"><span class="num">90%</span><br/><span>Photoshop</span></div>
	            <div class="circle_bg"></div>
	            <div class="warp right">
	              <div class="rightcircle"></div>
	            </div>
	            <div class="warp left">
	              <div class="leftcircle per_ps"></div>
	            </div>
	          </div>
	          <div class="sk">
	            <div class="text"><span class="num">90%</span><br/><span>illustrator</span></div>
	            <div class="circle_bg"></div>
	            <div class="warp right">
	              <div class="rightcircle"></div>
	            </div>
	            <div class="warp left">
	              <div class="leftcircle per_ai"></div>
	            </div>
	          </div>
	          <div class="sk">
	            <div class="text"><span class="num">85%</span><br/><span>HTML/CSS(Sass)</span></div>
	            <div class="circle_bg"></div>
	            <div class="warp right">
	              <div class="rightcircle"></div>
	            </div>
	            <div class="warp left">
	              <div class="leftcircle per_html"></div>
	            </div>
	          </div>
	          <div class="sk">
	            <div class="text"><span class="num">60%</span><br/><span>JavaScript/jQuery</span></div>
	            <div class="circle_bg"></div>
	            <div class="warp right">
	              <div class="rightcircle"></div>
	            </div>
	            <div class="warp left">
	              <div class="leftcircle per_vj"></div>
	            </div>
	          </div>
	          <div class="sk">
	            <div class="text"><span class="num">60%</span><br/><span>Vue.js</span></div>
	            <div class="circle_bg"></div>
	            <div class="warp right">
	              <div class="rightcircle"></div>
	            </div>
	            <div class="warp left">
	              <div class="leftcircle per_vj"></div>
	            </div>
	          </div>
	        </div>
	        <hr/>
	        <div class="detail">
	          <div class="d_l"><i class="fab fa-html5"></i><i class="fab fa-css3-alt"></i><i class="fab fa-vuejs"></i></div>
	          <div class="d_r"><i class="fas fa-check-square">
	              <p>能夠從零開始手刻 RWD 網頁</p></i><br/><i class="fas fa-check-square">
	              <p>Css 習慣使用 Sass 管理數值及 mixin</p></i><br/><i class="fas fa-check-square">
	              <p>懂得使用 jQuery 呈現網頁動態效果</p></i><br/><i class="fas fa-check-square">
	              <p>具 Bootstrap + skrollr.js 開發經驗</p></i><br/><i class="fas fa-check-square">
	              <p>具 Vue + Ajax + JSON 設計 SPA 架構經驗</p></i></div>
	        </div>
	      </div>
	    </div>
	    <div class="experience_outer" id="experience">
	      <div class="experience scrEvent">
	        <h1>Experience</h1>
	        <div class="hr"></div>
	        <div class="line"></div>
	        <div class="event">
	          <div class="dot">
	            <div class="dot_central"></div>
	          </div>
	          <h3>鶯歌高職</h3>
	          <h2>廣告設計科 (2011/09 - 2014/06)</h2>
	          <p>主要學習 Photoshop、illustrator 軟體操作、攝影及各類畫材創作</p>
	        </div>
	        <div class="event">
	          <div class="dot">
	            <div class="dot_central"></div>
	          </div>
	          <h3>龍華科技大學</h3>
	          <h2>多媒體與遊戲發展科學系 (2014/09 - 2018/06)</h2>
	          <p>主要學習 Unity 遊戲引擎，使用 C# 程式語言撰寫遊戲腳本</p>
	        </div>
	        <div class="event">
	          <div class="dot">
	            <div class="dot_central"></div>
	          </div>
	          <h3>喜雅國際</h3>
	          <h2>美術編輯 (2014/06 - 2015/07)</h2>
	          <p>工作內容包含設計 DM、名片、產品包裝、行銷廣告<br>以及網拍商品圖設計、商品攝影</p>
	        </div>
	        <div class="event">
	          <div class="dot">
	            <div class="dot_central"></div>
	          </div>
	          <h3>學生遊戲團隊 Freator</h3>
	          <h2>UI 設計 (2015/01 - 2017/10)</h2>
	          <p>一群喜歡製作遊戲的傢伙聚在一起<br>於團隊擔任 UI 設計人員，致力開發 PC 單機遊戲《異電人》</p>
	        </div>
	        <div class="event">
	          <div class="dot">
	            <div class="dot_central"></div>
	          </div>
	          <h3>云播頌文創科技</h3>
	          <h2>資工實習生 (2015/07 - 2015/12)</h2>
	          <p>負責撰寫後端伺服器<br>寫過的專案：影片轉檔伺服器、Unity 播放插件<br>主要使用 Unity、NetBeans(JAVA) 及 PostgreSQL</p>
	        </div>
	        <div class="event">
	          <div class="dot">
	            <div class="dot_central"></div>
	          </div>
	          <h3>北台灣防衛科技</h3>
	          <h2>美術編輯 (2015/12 - 2018/06)</h2>
	          <p>負責拍攝商品照片、設計網拍商品圖文</p>
	        </div>
	      </div>
	    </div>
	    <div class="works_outer" id="works">
	      <div class="works scrEvent">
	        <h1>Portfolio</h1>
	        <hr/>
	        <div id="app">
	          <div class="pic_outer" v-for="work in works">
	            <div class="pic" v-bind:style="'background-image: url(' + work.image + ')'" v-on:click="detail_mode(work)"></div>
	            <p>{{work.name}}</p>
	          </div>
	          <div class="detail_info" v-if="detailmode == true"><i class="fas fa-times" v-on:click="close_detail()"></i>
	            <div class="infos">
	              <h3>{{detaildata.tag}}</h3>
	              <h1>{{detaildata.name}}</h1>
	              <h2>{{detaildata.description}}</h2>
	              <div class="link"><a v-bind:href="detaildata.link">作品連結</a></div><br/><img v-bind:src="detaildata.de_image"/>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="contant_outer" id="contant">
	      <div class="contant scrEvent">
	        <h1>Contant</h1>
	        <hr/>
	        <div class="contant_input">
	          <input type="text" placeholder="Your Name"/><br/>
	          <input type="text" placeholder="E-Mail"/><br/>
	          <textarea class="msg" type="text" placeholder="Under Construction..."></textarea><br/>
	          <input class="submit" type="submit"/>
	        </div>
	        <div class="contant_info"><img/>
	          <h2>林宜靜 (Priscilla Lin)</h2><br/><i class="fas fa-map-marker-alt"></i>
	          <p>新北市</p><br/><i class="fas fa-phone"></i>
	          <p>0975-536520</p><br/><i class="fas fa-envelope"></i>
	          <p>gracelin2009@yahoo.com.tw</p>
	          <div class="hr"></div><a href="https://codepen.io/Priscilla_Lin" target="_blank"><i class="fab fa-codepen"></i></a><a href="https://github.com/PCLIN2018" target="_blank"><i class="fab fa-github"></i></a><a href="https://heymywordpress.wordpress.com" target="_blank"><i class="fab fa-wordpress-simple"></i></a>
	        </div>
	      </div>
	    </div>
	    <div class="b_nav">
	      <p>Copyright © Priscilla All rights reserved.</p>
	    </div>
	  </div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="main.js"></script>
</body>
</html>